<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="keywords" content="foo,bar" />
        <meta name="description" content="foo"/>
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'home' %}">Receipt List</a>
                            <a href="{% url 'create_receipt' %}">Create Receipt</a>
                            <a href="{% url 'category_list' %}">Category List</a>
                            <a href="{% url 'create_category' %}">Create Category</a>
                            <a href="{% url 'account_list' %}">Account List</a>
                            <a href="{% url 'create_account' %}">Create Account</a>
                            <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'signup' %}">Sign Up</a>
                            <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
